* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(221, 160, 221);
  background: linear-gradient(0deg, rgb(221, 160, 221) 0%, rgb(255, 255, 255) 85%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
}

h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 3em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

h1:hover {
  filter: brightness(1.75);
}

a {
  text-decoration: none;
  font-family: "Viner Hand ITC";
}

h2 {
  color: #D87093;
  font-family: "Viner Hand ITC";
  font-size: 1, 5em;
  padding-top: 2%;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: flex;
  justify-content: center;
}

p {
  color: #555;
  padding-left: 1em;
}

.container-fluid {
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.featurette-divider {
  margin: 5rem 0;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.featurette-heading {
  letter-spacing: -0.05rem;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.carousel-caption p {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.featurette-heading {
  font-size: 50px;
  animation: entradaIzquierda 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

section {
  display: flex;
  width: 100%;
  height: 400px;
}

section img {
  width: 0;
  flex-grow: 1;
  opacity: 0.5;
  filter: contrast(75%);
  transition: 0.5s ease;
}

section p.caption {
  position: absolute;
  z-index: 1;
  text-align: left;
}

section img:hover {
  cursor: crosshair;
  width: 220px;
  height: 400px;
  opacity: 1;
  filter: contrast(120%);
}

.home {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: #ffffff;
  display: grid;
  grid-template-areas: "logo productos servicios" "logo quienSoy contacto";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.home__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  background: radial-gradient(circle, rgb(221, 160, 221) 30%, rgb(255, 255, 255) 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, align-items 0.2s, justify-content 0.2s;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: relative;
  overflow: hidden;
}

.home__logo h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 3em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.home__logo:hover::before {
  filter: none;
  transform: scale(1.4);
}

.home__logo--t1 {
  transform: translateY(-2.9rem);
}

.home__logo--t2 {
  transform: translateY(-2rem) translateX(-0.5rem) scale(0.8);
}

.home__logo--a {
  transform: translateY(-2rem) translateX(-1rem);
}

.home > a:nth-child(1) {
  animation-delay: 0.65s;
}

.home > a:nth-child(2) {
  animation-delay: 0.8s;
}

.home > a:nth-child(3) {
  animation-delay: 0.95s;
}

.home > a:nth-child(4) {
  animation-delay: 1.1s;
}

.home > a:nth-child(5) {
  animation-delay: 1.25s;
}

.home__quienSoy {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: quienSoy;
  background: linear-gradient(45deg, #ffffff, #dda0dd);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, align-items 0.2s, justify-content 0.2s;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: relative;
  overflow: hidden;
}

.home__quienSoy p {
  opacity: 1;
  font-size: 4rem;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 0;
  transition: opacity 0s;
  color: #D87093;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.home__servicios {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: servicios;
  background: linear-gradient(45deg, #dda0dd, #ffffff);
  color: #D87093;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, align-items 0.2s, justify-content 0.2s;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: relative;
  overflow: hidden;
}

.home__servicios p {
  opacity: 1;
  font-size: 4rem;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 0;
  transition: opacity 0s;
  color: #D87093;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.home__productos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: productos;
  background: linear-gradient(-45deg, #dda0dd, #ffffff);
  color: #8FC8DB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, align-items 0.2s, justify-content 0.2s;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: relative;
  overflow: hidden;
}

.home__productos p {
  opacity: 1;
  font-size: 4rem;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 0;
  transition: opacity 0s;
  color: #D87093;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.home__contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: contacto;
  background: linear-gradient(-45deg, #ffffff, #dda0dd);
  color: #386675;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, align-items 0.2s, justify-content 0.2s;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: relative;
  overflow: hidden;
}

.home__contacto p {
  opacity: 1;
  font-size: 4rem;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 0;
  transition: opacity 0s;
  color: #D87093;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.infoContacto {
  padding: 9rem;
  text-align: center;
  animation: entradaIzquierda 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s both;
}

.infoContacto p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  border-bottom: 1px solid #8FC8DB;
  padding: 0.5rem 0 1rem 0;
}

.infoContacto p:last-child {
  border: 0;
}

.formContacto {
  padding: 9rem;
  animation: entradaDerecha 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s both;
}

.formContacto input, .formContacto label, .formContacto select, .formContacto textarea {
  font-size: 1.6rem;
}

.formContacto input.form-control, .formContacto select.form-select {
  height: 5rem;
}

.formContacto .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  transform: scale(0.75) translateY(-0.8rem);
}

.formContacto .form-control:focus ~ label, .formContacto .form-floating > .form-control:not(:placeholder-shown) ~ label, .formContacto .form-select ~ label {
  transform: scale(0.75) translateY(-0.8rem);
}

.formContacto__boton {
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
  background: #DDA0DD;
  border: 0;
  border-radius: 0;
}

.formContacto__boton:hover {
  background: #D87093;
}

/* Media query para pantallas medianas (por ejemplo, tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
  h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 1.5em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

  h2 {
  color: #D87093;
  font-family: "Viner Hand ITC";
  font-size: 1.2em;
  padding-top: 2%;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: flex;
  justify-content: center;
}

  p {
  color: #555;
  padding-left: 1em;
}
  .home {
    grid-template-areas: "logo" "productos" "servicios" "quienSoy" "contacto";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  }

  .home__logo {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__logo h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 2em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

  .home__logo {
    padding-left: 2rem;
    background-position: top;
  }
  
  .home__quienSoy {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__quienSoy p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__servicios {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__servicios p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__productos {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__productos p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__contacto {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__contacto p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

/* Media query para pantallas pequeñas (por ejemplo, smartphones) */
@media (max-width: 767px) {
	
  h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 1.2em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

  h2 {
  color: #D87093;
  font-family: "Viner Hand ITC";
  font-size: 0.9em;
  padding-top: 2%;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: flex;
  justify-content: center;
}

  p {
  color: #555;
  padding-left: 1em;
}
  .home {
    grid-template-areas: "logo" "productos" "servicios" "quienSoy" "contacto";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  }

  .home__logo {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__logo {
    padding-left: 2rem;
    background-position: top;
  }
  
  .home__logo h1 {
  color: #FFD700;
  font-family: "Meddon", cursive;
  font-size: 1.5em;
  text-shadow: black 0.1em 0.1em 0.2em;
}
  
  .home__quienSoy {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__quienSoy p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__servicios {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__servicios p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__productos {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__productos p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .home__contacto {
    animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  }
  
  .home__contacto p {
    transform: none;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    color: #D87093;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

@keyframes entradaIzquierda {
  0% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes entradaArriba {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes entradaDerecha {
  0% {
    transform: rotateY(100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes bordeHome {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes entradaFotoQS1 {
  0% {
    transform: rotateY(100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes entradaFotoQS2 {
  0% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes entradaFotoQS3 {
  0% {
    transform: rotateY(100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes subeBaja {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
@keyframes ocultarSpinner {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */