/* Media query para pantallas medianas (por ejemplo, tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
    h1 {
    color: #FFD700;
    font-family: "Meddon", cursive;
    font-size: 1.5em;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
    h2 {
    color: #D87093;
    font-family: "Viner Hand ITC";
    font-size: 1.2em;
    padding-top: 2%;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    justify-content: center;
  }
  
    p {
    color: #555;
    padding-left: 1em;
  }
    .home {
      grid-template-areas: "logo" "productos" "servicios" "quienSoy" "contacto";
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
    }
  
    .home__logo {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__logo h1 {
    color: #FFD700;
    font-family: "Meddon", cursive;
    font-size: 2em;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
    .home__logo {
      padding-left: 2rem;
      background-position: top;
    }
    
    .home__quienSoy {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__quienSoy p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__servicios {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__servicios p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__productos {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__productos p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__contacto {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__contacto p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  }
  
  /* Media query para pantallas pequeñas (por ejemplo, smartphones) */
  @media (max-width: 767px) {
      
    h1 {
    color: #FFD700;
    font-family: "Meddon", cursive;
    font-size: 1.2em;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
    h2 {
    color: #D87093;
    font-family: "Viner Hand ITC";
    font-size: 0.9em;
    padding-top: 2%;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    justify-content: center;
  }
  
    p {
    color: #555;
    padding-left: 1em;
  }
    .home {
      grid-template-areas: "logo" "productos" "servicios" "quienSoy" "contacto";
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
    }
  
    .home__logo {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__logo {
      padding-left: 2rem;
      background-position: top;
    }
    
    .home__logo h1 {
    color: #FFD700;
    font-family: "Meddon", cursive;
    font-size: 1.5em;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
    
    .home__quienSoy {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__quienSoy p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__servicios {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__servicios p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__productos {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__productos p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    
    .home__contacto {
      animation: entradaArriba 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    }
    
    .home__contacto p {
      transform: none;
      font-size: 2rem;
      font-weight: 600;
      background-color: transparent;
      color: #D87093;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
}